/* -------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------- */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    z-index: 10;
    background-color: white;
}

header .logo {
    width: 250px;
    font-family: League Spartan Variable;
    font-weight: bold;
    padding: 20px 10px;
}

header .logo img {
    width: 100%;
}

header .hamburguer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
    margin: 0 50px;
    cursor: pointer;
}

header .hamburguer .line {
    background-color: var(--black-color);
    height: 5px;
    margin: 5px 0;
    transition: .3s;
}

header .hamburguer .line:nth-child(1) {
    width: 2.5rem;
}

header .hamburguer .line:nth-child(2) {
    width: 2rem;
}

header .hamburguer .line:nth-child(3) {
    width: 1.5rem;
}

header .hamburguer.open .line:nth-child(1) {
    position: absolute;
    width: 2.5rem;
    transform: translateY(-50%) rotate(45deg) !important;
}

header .hamburguer.open .line:nth-child(2) {
    display: none;
}

header .hamburguer.open .line:nth-child(3) {
    position: absolute;
    width: 2.5rem;
    transform: translateY(-50%) rotate(-45deg) !important;
}

header .hamburguer.open:hover .line:nth-child(1) {

    width: 2.5rem;
}

header .hamburguer.open:hover .line:nth-child(3) {

    width: 2.5rem;
}

header .hamburguer:hover .line {
    background-color: var(--primary-color);
    transition: .3s;
}

header .hamburguer:hover .line:nth-child(3) {
    width: 2.5rem;
}

header .hamburguer:hover .line:nth-child(2) {
    width: 2rem;
}

header .hamburguer:hover .line:nth-child(1) {
    width: 1.5rem;
}

.menu-open {
    transition: 0.3s;
    position: fixed;
    top: 7vh;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    z-index: 3;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}
.menu-open.active{
    transition: 0.3s;
    height: 100%;
}
.menu-open li{
    transition: 0.3s;
    display: none;
}
.menu-open.active li{
    transition: 0.3s;
    display: block;
    margin: 25px auto;
    width: 100%;
    text-align: center;
}