.content-otherProjects{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content-otherProjects video{
    min-width: 320px;
    max-width: 720px;
}