.pfContent {
    padding: 10px 0px;
    width: 100%;
    height: 79vh;
    display: grid;
    grid-gap: 5%;
    grid-template-columns: 50% 30%;
    background: #FAFAFA;
}

.pfContent .Section{
    padding: 0px 25px;
}

.pfContent div h3{
    border-bottom: 2px solid#C746A7;
}
.pfContent div:nth-child(2) h3 {
    text-align: center;
}

.pfContent div .SectionContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}